{% extends 'user_base.html' %}
    {% load static %}
    {% block title %}View{% endblock %}

    {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    a{
        text-decoration: none;
    }
    .card {
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
    height: 269px;
    }
    .card-img-top {
        height: 203px; /* Fixed height for the image */
        object-fit: cover; /* Ensures the image covers the container */
    }
    .card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    }
</style>
<body>
    <center><br><h2>Recipies Saved </h2></center>
    <div class="container mt-5"> 
        <div class="row">
            {% for x in data %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <a href="/recipe/{{ x.id }}">
                <div class="card">
                    <img src="{{ x.img.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ x.name }}</h5>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>